@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --PaleViolet: hsl(276, 100%, 81%);
    --ModerateViolet: hsl(276, 55%, 52%);
    --DesaturatedDarkViolet: hsl(271, 15%, 43%);
    --GrayishBlue: hsl(206, 6%, 79%);
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    --DarkGrayishViolet: hsl(270, 7%, 64%);
    --LightMagenta: hsl(293, 100%, 63%);
    --LightViolet: hsl(264, 100%, 61%);
    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet: hsl(270, 20%, 96%);
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    --VeryLightMagenta: hsl(289, 100%, 72%);
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: var(--LightGrayishViolet);
    overflow: hidden;
}



.wraper {
    position: relative;
    width: 820px;
    display: grid;
    grid-template-columns: 250px 570px;
    z-index: 2;
    margin-top: 100px;
    margin-left: 310px;
}

.color-container {
    z-index: 1;
    position: absolute;
    width: 520px;
    height: 575px;
    top: 0;
    left: -150px;
    background: linear-gradient(var(--LightMagenta), var(--LightViolet));
    border-radius: 0 0 50% 50%;
}

.color-container-two {
    z-index: 1;
    position: absolute;
    width: 520px;
    height: 675px;
    top: 150px;
    left: 1030px;
    background: hsl(260, 43%, 92%);
    border-radius: 50% 50% 0 0;

}

.mobile-container {
    display: block;
    height: 512px;
    padding: 10px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 15px 20px rgba(206, 197, 214, 0.068);

}

.inside-mobile {
    border-radius: 18px;
    display: block;
    width: 230px;
    background-color: var(--LightGrayishViolet);
    overflow: hidden;
}

.heading {
    display: block;
    height: 70px;
    background: linear-gradient(90deg, var(--LightViolet), var(--LightMagenta));
    color: var(--White);
   
}

.header {
    background-color: var(--White);
    width: 132px;
    height: 30px;
    margin-top: -15px;
    margin-left: 48px;
    border-radius: 50px;
    border: none;
}

.avatar {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: center;
}

.name {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 500;
    margin-left: 12px;
}

.name span {
    color: var(--PaleViolet);
    font-size: 8px;
    margin-left: 0px;
}

.avatar .arrow,
.avatar .points {
    width: 10px;
    height: 15px;
    border: none;
}

.avatar img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 7px;
}

.avatar .points {
    margin-left: 55px;
}

.avatar .arrow {
    margin-left: -5px;
}

.chat-left {
    height: 34px;
    width: 130px;
    color: var(--ModerateViolet);
    margin-top: 10px;
    margin-left: 8px;
    font-size: 9px;
    background-color: hsl(260, 43%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 5px;
}

.tree {
    height: 46px;
    width: 135px;

    line-height: 1.6em;
    font-size: 9px;
}

.chat-left p,
.chat-rigth-one p {
    text-align: left;
    margin-left: 5px;
    line-height: 1.4em;
    letter-spacing: 0.020em;
    font-weight: 400;
}

.images-dogs-container {
    margin: 15px 80px 0px;
    width: 135px;
    display: inline-flex;
}

.images-dogs-container img {
    width: 40px;
    height: 40px;
    margin-right: 9px;
    border-radius: 10px;
}

.chat-rigth-one {
    height: 34px;
    width: 135px;
    color: var(--DesaturatedDarkViolet);
    margin-left: 85px;
    margin-top: 5px;
    font-size: 9px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 5px 10px;
    box-shadow: 0 6px hsl(273, 44%, 95%);
}


.chat-rigth-two {
    height: 24px;
    width: 85px;
    color: var(--DesaturatedDarkViolet);
    margin-top: 8px;
    margin-left: 138px;
    font-size: 9px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 5px 10px;
    box-shadow: 0 6px hsl(273, 44%, 95%);

}

.price {
    width: 160px;
    height: 35px;
    display: inline-flex;
    background: linear-gradient(90deg, var(--LightMagenta), var(--LightViolet));
    margin-top: 10px;
    border-radius: 10px 10px 10px 5px;
    align-items: center;
    margin-left: 8px;

}

.price input {
   border: none;
    margin-left: 8px;
    color:var(--VeryLightMagenta) ;
}

.price label{
    font-size: 9px;
    color: var(--LightGrayishViolet);
    margin-left: 8px;

}

span {
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

.price .moretime {
    margin-left: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 8px;
    background-color: var(--White);
    color: var(--GrayishBlue);
    width: 215px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 30px;

}

.btn p {
    margin-left: 18px;
}


.btn img {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-left: 70px;
    transform: rotate(180deg);
}




.text-container {
    height: 520px;
}

h1 {
    margin-top: 140px;
    font-weight: 500;
    font-size: 40px;
    margin-left: 100px;
}

.text-container p {
    color: var(--GrayishBlue);
    margin-top: 30px;
    width: 450px;
    margin-left: 100px;
    text-align: left;
    line-height: 1.7em;
}




.attribution {
    font-size: 11px;
    text-align: center;
    visibility: hidden;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
